
@media screen and (max-width: 955px) {
   .nav-list {
      flex-direction: column;
   }

   .navbar {
      height: 250px;
      flex-direction: column;
      transition: all 0.5s ease-out;
   }

   .rightNav {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   .nav-list li {
      padding: 7px 26px;
  }

  .burger{
   display: block;
  }

  .h-nav-resp{
   height: 40px;
  }

  .v-class-resp{
   opacity: 0;
  }

  .box-main {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   height: 70%;
   flex-direction: column-reverse;
   max-width: 100%;
   }

   .secLeft {
      flex-direction: column-reverse;
  }
  .secRight {
      flex-direction: column-reverse;
  }

   .secLeft img{
   margin: 0px auto;
   margin-top: 12px;
  }
  .secRight img{
   margin: 0px auto;
   margin-top: 12px;
  }

   .contForm {
      margin: 10px auto;
      width: 60%;
  }

}


@media screen and (max-width: 705px) {
   .contForm {
      margin: 10px auto;
      width: 80%;
   }
}

@media screen and (max-width: 415px) {
   .contForm {
      margin: 10px auto;
      width: 85%;
   }
}